{% if content.layout==1 %}
    <div class="card shadow m-1" style="width:49%;">
{% elif content.layout==2 %}
    <div class="card shadow m-1" style="width:29%">
{% elif content.layout==3 %}
    <div class="card shadow m-1" style="width:24%">
{% else %}
    <div class="card shadow m-1" style="width:99%">	
{% endif %}
    <div class="card-header bg-dark m-0 p-0" style="color:white;"><center>
		<i class="fa fa-check-square" aria-hidden="true"></i> &nbsp; 
		<i class="fa fa-window-close" aria-hidden="true" style="color:red;"></i> &nbsp;
	Таблица: "Список триггеров"
</div>
<div class="card-body m-2 p-0">
	<table class="table table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#Номер триггера</th>
      <th scope="col">Текст оповещения</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Жесткий диск ЛКВИЗ не работает</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Вагон движется с открытой дверью</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Возможна неисправность кромки двери №1</td>
    </tr>


      <tr>
      <th scope="row">4</th>
      <td>Возможна неисправность кромки двери №2</td>
    </tr>

      <tr>
      <th scope="row">5</th>
      <td>Возможна неисправность кромки двери №3</td>
    </tr>
      <tr>
      <th scope="row">6</th>
      <td>Возможна неисправность кромки двери №4</td>
    </tr>

      <tr>
      <th scope="row">7</th>
      <td>Возможна неисправность кромки двери №5</td>
    </tr>

      <tr>
      <th scope="row">8</th>
      <td>Возможна неисправность кромки двери №6</td>
    </tr>

      <tr>
      <th scope="row">9</th>
      <td>Датчик t кабины неисправен</td>
    </tr>

      <tr>
      <th scope="row">10</th>
      <td>Датчик t наружный неисправен</td>
    </tr>

      <tr>
      <th scope="row">11</th>
      <td>Датчик t наружный неисправен</td>
    </tr>

      <tr>
      <th scope="row">12</th>
      <td>Датчик t салона 2 неисправен</td>
    </tr>

      <tr>
      <th scope="row">13</th>
      <td>Датчик t салона 3 неисправен</td>
    </tr>
      <tr>
      <th scope="row">14</th>
      <td>Длительное превышение напряжения ИТ1</td>
    </tr>

      <tr>
      <th scope="row">15</th>
      <td>Длительное превышение напряжения ИТ2</td>
    </tr>

      <tr>
      <th scope="row">16</th>
      <td>Длительное превышение напряжения ИТ3</td>
    </tr>

      <tr>
      <th scope="row">17</th>
      <td>Длительное превышение тока ИТ1</td>
    </tr>

      <tr>
      <th scope="row">18</th>
      <td>Длительное превышение тока ИТ2</td>
    </tr>

      <tr>
      <th scope="row">19</th>
      <td>Длительное превышение тока ИТ3</td>
    </tr>


      <tr>
      <th scope="row">20</th>
      <td>Драйвер ИТ №1 неисправен</td>
    </tr>

      <tr>
      <th scope="row">21</th>
      <td>Драйвер ИТ №2 неисправен</td>
    </tr>
      <tr>
      <th scope="row">22</th>
      <td>Драйвер ИТ №3 неисправен</td>
    </tr>

      <tr>
      <th scope="row">23</th>
      <td>Неисправность ИТ№1 либо БТР секция №1</td>
    </tr>

      <tr>
      <th scope="row">24</th>
      <td>Неисправность ИТ№1 либо БТР секция №2</td>
    </tr>

      <tr>
      <th scope="row">25</th>
      <td>Неисправность ИТ№1 либо БТР секция №3</td>
    </tr>

      <tr>
      <th scope="row">26</th>
      <td>Неоднократный сбой драйвера ИТ №1</td>
    </tr>

      <tr>
      <th scope="row">27</th>
      <td>Неоднократный сбой драйвера ИТ №2</td>
    </tr>

      <tr>
      <th scope="row">28</th>
      <td>Неоднократный сбой драйвера ИТ №3</td>
    </tr>

      <tr>
      <th scope="row">29</th>
      <td>Ошибка драйвера ИТ1</td>
    </tr>
      <tr>
      <th scope="row">30</th>
      <td>Ошибка драйвера ИТ2</td>
    </tr>

      <tr>
      <th scope="row">31</th>
      <td>Ошибка драйвера ИТ3</td>
    </tr>

      <tr>
      <th scope="row">32</th>
      <td>Перегрев ТР</td>
    </tr>

      <tr>
      <th scope="row">33</th>
      <td>Перегрев ТР: секция №1, сброс возможен</td>
    </tr>

      <tr>
      <th scope="row">34</th>
      <td>Перегрев ТР: секция №2, сброс возможен</td>
    </tr>

      <tr>
      <th scope="row">35</th>
      <td>Перегрев ТР: секция №3, сброс возможен</td>
    </tr>

      <tr>
      <th scope="row">36</th>
      <td>Перегрев ТР: секция №1, сброс запрещен</td>
    </tr>

      <tr>
      <th scope="row">37</th>
      <td>Перегрев ТР: секция №2, сброс запрещен</td>
    </tr>
      <tr>
      <th scope="row">38</th>
      <td>Перегрев ТР: секция №3, сброс запрещен</td>
    </tr>

      <tr>
      <th scope="row">39</th>
      <td>Превышение скорости на АХ</td>
    </tr>

      <tr>
      <th scope="row">40</th>
      <td>Превышение тока фаз ИТ1</td>
    </tr>

      <tr>
      <th scope="row">41</th>
      <td>Превышение тока фаз ИТ2</td>
    </tr>

      <tr>
      <th scope="row">42</th>
      <td>Превышение тока фаз ИТ3</td>
    </tr>

      <tr>
      <th scope="row">43</th>
      <td>Работа драйвера ИТ1 не стабильна</td>
    </tr>

      <tr>
      <th scope="row">44</th>
      <td>Работа драйвера ИТ2 не стабильна</td>
    </tr>

      <tr>
      <th scope="row">45</th>
      <td>Работа драйвера ИТ3 не стабильна</td>
    </tr>
      <tr>
      <th scope="row">46</th>
      <td>Сбой тележки №1</td>
    </tr>

      <tr>
      <th scope="row">47</th>
      <td>Сбой тележки №2</td>
    </tr>

      <tr>
      <th scope="row">48</th>
      <td>Сбой тележки №3</td>
    </tr>

      <tr>
      <th scope="row">49</th>
      <td>Связь ИТ1</td>
    </tr>

      <tr>
      <th scope="row">50</th>
      <td>Связь ИТ2</td>
    </tr>

      <tr>
      <th scope="row">51</th>
      <td>Связь ИТ3</td>
    </tr>

      <tr>
      <th scope="row">52</th>
      <td>Скорость больше 61 км\ч</td>
    </tr>

      <tr>
      <th scope="row">53</th>
      <td>Сработала защита печи кабины (Автомат отключен)</td>
    </tr>
      <tr>
      <th scope="row">54</th>
      <td>Сработала защита печи салона 1 (Автомат отключен)</td>
    </tr>

      <tr>
      <th scope="row">55</th>
      <td>Температура воздуха в кабине критична</td>
    </tr>

      <tr>
      <th scope="row">56</th>
      <td>Температура наружного воздуха критична</td>
    </tr>

      <tr>
      <th scope="row">57</th>
      <td>Температура салона секции №1 критична</td>
    </tr>

      <tr>
      <th scope="row">58</th>
      <td>Температура салона секции №2 критична</td>
    </tr>

      <tr>
      <th scope="row">59</th>
      <td>Температура салона секции №3 критична</td>
    </tr>

      <tr>
      <th scope="row">60</th>
      <td>ВТрамвай обесточен в движении</td>
    </tr>

      <tr>
      <th scope="row">61</th>
      <td>Уровень песка в песочнице 1 меньше 20%</td>
    </tr>
      <tr>
      <th scope="row">62</th>
      <td>Уровень песка в песочнице 2 меньше 20%</td>
    </tr>

      <tr>
      <th scope="row">63</th>
      <td>Уровень песка в песочнице 3 меньше 20%</td>
    </tr>

      <tr>
      <th scope="row">64</th>
      <td>Уровень песка в песочнице 4 меньше 20%</td>
    </tr>

      <tr>
      <th scope="row">65</th>
      <td>Уровень песка в песочнице 5 меньше 20%</td>
    </tr>

      <tr>
      <th scope="row">66</th>
      <td>Уровень песка в песочнице 6 меньше 20%</td>
    </tr>

      <tr>
      <th scope="row">67</th>
      <td>Экстренное торможение</td>
    </tr>

      <tr>
      <th scope="row">68</th>
      <td>Экстренное торможение от педали безопасности при скорости больше 10</td>
    </tr>


  </tbody>
</table>
</div>
</div>    